# Bootstrap
app/bootstrap*

# CI
app/build
cache.properties

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/assetic
web/css
web/img
web/js

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.lock

# PHPStorm
.idea
