<!DOCTYPE html>
<html>
  <head>
    <title>High Line Park Map Guide</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>

    {% javascripts '@jquery_js' '@bootstrap_js' filter='?yui_js' combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaKBq7-KqZG838d3FKR3eJJ1BnknYyEvk&sensor=true">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(40.744663, -74.006798),
          zoom: 17,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        var infoWindow = new google.maps.InfoWindow;

        // Parse data from data feed for info window markers
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '{{ path('squazic_highline_guide_data') }}',
                data: { get_param: 'value' },
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (index, marker) {
                        var html = '<h1>' + marker.title + '</h1>' +
                            '<h3>by ' + marker.artist + '</h3>' +
                            '<p>' + marker.description + '</p>';
                        var point = new google.maps.LatLng(marker.latitude, marker.longitude);
                        var marker = new google.maps.Marker({
                          map: map,
                          position: point
                        });
                        bindInfoWindow(marker, map, infoWindow, html);
                    });
                }
            });
        });
      }

      function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function() {
          infoWindow.setContent(html);
          infoWindow.open(map, marker);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>
</html>
